<p>book-list works!</p>
<h1>Books</h1>
<div *ngFor="let book of books$ | async">
    <h2>{{book.title}}</h2>
    <h2>{{book.author}}</h2>
    <button (click)="removeBook(book.id)">Remove book</button>
</div>

<h2>Create new book</h2>
<div>
    <input #bookId type="text" placeholder="Book Id">
    <input #bookTitle type="text" placeholder="Book Text">
    <input #bookAuthor type="text" placeholder="Book Author">
    <button (click)="addBook(bookId.value, bookTitle.value, bookAuthor.value)">Add Book</button>
</div>